/*this web-site made by @shaikh_Aman.k using html , css, bootsrap, javascript & sum 3rd party soure code involve*/

/* 75em = 1200px */
/* Big Tablets to 1200px (widths smaller than the 1140px row)*/
@media only screen and (max-width: 75em) {
	html {
      font-size: 62.5% !important;
      /* 1rem = 9px */ 
  	}
	.row {
		padding: 0 2%;
	}
}


/*63.93em = 1023px */
/* ---- Small Tablets to Big Tablets: from 768px to 1023px ----*/
@media only screen and (max-width: 63.93em){
	html {
      font-size: 56.25% !important; 
      
  	}

  	.section {
		padding: 6rem 0;
	}

	.hero-text h1{
		width: 100%;
	}
	.hero-text p {
		width: 70%;
		margin-bottom: 2.5rem;
	}

	.text-desc {
		width: 80%;
		margin-left: 10%;
	}

	.row.heading{
		margin-bottom: 3.5rem;
	}
	.section-testimonial .row:not(:first-child){
		margin-top: 9.5rem;
	}
	.section-testimonial .row .testimonial{
		padding: 1.2rem 7rem;
	}
	.mobile-app-image {
    	width: 51%;
    }	

   
}

/* ---- Small Phones to Small Tablets: from 481px to 767px ----*/
/*47.93em = 767px*/
@media only screen and (max-width: 47.93em) {
	
	html {
      font-size: 52% !important; 
  	}

	header{
		width: 100%;
		height: 90vh;
	}
  	.section {
		padding: 3rem 0;
	}
	.text-primary {
		font-size: 16px;
	}
	
	

	.row,
	.hero-text{
		padding: 0 2%;
	}
	.hero-text h1{
		width: 100%;
		font-size: 2.8rem;
	}
	.hero-text p {
		width: 80%;
		font-size: 1.5rem;
		line-height: 30px;
		margin-bottom: 2rem;
	}
	.col {
		width: 100%;
		margin: 0 0 4% 0;
	}
	.section-courses{
	   perspective: 2200rem;
	  -webkit-perspective: 2200rem;
	}
	.section-testimonial .row .testimonial{
		padding: 1.2rem 5rem;
	}
	.mobile-app-image {
    	width: 30%;
    }	
    .download-btn-box img:first-child{
		margin-right: 0.2rem;
	}
	
	.navigation{
		display: none;
	}

	.nav-icon {
    	display: inline-block;

    }
	
	nav .navigation{
		display: none;
		width: 100%;
		margin-top: 0;
	}

    .navigation li{
    	display: block;
    	text-align: center;
	}

    .navigation li a:link,
	.navigation li a:visited{
		display: inline-block;
		width: 80%;
		padding: 1.5rem ;
	}

	.row.hero-text{
		padding-bottom: 0rem;
		margin-top: 3.5rem;
	}

	
	.navigation li a:link,
	.navigation li a:visited{
		font-size: 16px;
	}
}
/*These rules will be applied when browser width is less than or equal to 
480 px*/
/* 30em = 480px */
@media only screen and (max-width: 30em) {
	section{
		padding: 2.5rem 0; 
	}
	
	
}
